* text=auto !eol
bin/compute_collimator_moves.py -text
etc/config.ini -text
etc/hartmann.cfg -text
etc/hartmannActor.module -text
python/hartmannActor/Commands/__init__.py -text
python/hartmannActor/Commands/hartmannCmd.py -text
python/hartmannActor/__init__.py -text
python/hartmannActor/boss_collimate.py -text
python/hartmannActor/hartmannActor_main.py -text
python/hartmannActor/myGlobals.py -text
/setup.py -text
test_hartmannActor/cmd_calls/TestHartmann.txt -text
test_hartmannActor/data/sdR-b1-00169552.fit.gz -text
test_hartmannActor/data/sdR-b1-00169553.fit.gz -text
test_hartmannActor/data/sdR-b1-00169554.fit.gz -text
test_hartmannActor/data/sdR-b1-00169555.fit.gz -text
test_hartmannActor/data/sdR-b1-00169556.fit.gz -text
test_hartmannActor/data/sdR-b1-00169557.fit.gz -text
test_hartmannActor/data/sdR-b1-00169558.fit.gz -text
test_hartmannActor/data/sdR-b1-00169559.fit.gz -text
test_hartmannActor/data/sdR-b1-00169560.fit.gz -text
test_hartmannActor/data/sdR-b1-00169561.fit.gz -text
test_hartmannActor/data/sdR-b1-00169562.fit.gz -text
test_hartmannActor/data/sdR-b1-00169563.fit.gz -text
test_hartmannActor/data/sdR-b2-00169552.fit.gz -text
test_hartmannActor/data/sdR-b2-00169553.fit.gz -text
test_hartmannActor/data/sdR-b2-00169554.fit.gz -text
test_hartmannActor/data/sdR-b2-00169555.fit.gz -text
test_hartmannActor/data/sdR-b2-00169556.fit.gz -text
test_hartmannActor/data/sdR-b2-00169557.fit.gz -text
test_hartmannActor/data/sdR-b2-00169558.fit.gz -text
test_hartmannActor/data/sdR-b2-00169559.fit.gz -text
test_hartmannActor/data/sdR-b2-00169560.fit.gz -text
test_hartmannActor/data/sdR-b2-00169561.fit.gz -text
test_hartmannActor/data/sdR-b2-00169562.fit.gz -text
test_hartmannActor/data/sdR-b2-00169563.fit.gz -text
test_hartmannActor/data/sdR-r1-00169552.fit.gz -text
test_hartmannActor/data/sdR-r1-00169553.fit.gz -text
test_hartmannActor/data/sdR-r1-00169554.fit.gz -text
test_hartmannActor/data/sdR-r1-00169555.fit.gz -text
test_hartmannActor/data/sdR-r1-00169556.fit.gz -text
test_hartmannActor/data/sdR-r1-00169557.fit.gz -text
test_hartmannActor/data/sdR-r1-00169558.fit.gz -text
test_hartmannActor/data/sdR-r1-00169559.fit.gz -text
test_hartmannActor/data/sdR-r1-00169560.fit.gz -text
test_hartmannActor/data/sdR-r1-00169561.fit.gz -text
test_hartmannActor/data/sdR-r1-00169562.fit.gz -text
test_hartmannActor/data/sdR-r1-00169563.fit.gz -text
test_hartmannActor/data/sdR-r2-00169552.fit.gz -text
test_hartmannActor/data/sdR-r2-00169553.fit.gz -text
test_hartmannActor/data/sdR-r2-00169554.fit.gz -text
test_hartmannActor/data/sdR-r2-00169555.fit.gz -text
test_hartmannActor/data/sdR-r2-00169556.fit.gz -text
test_hartmannActor/data/sdR-r2-00169557.fit.gz -text
test_hartmannActor/data/sdR-r2-00169558.fit.gz -text
test_hartmannActor/data/sdR-r2-00169559.fit.gz -text
test_hartmannActor/data/sdR-r2-00169560.fit.gz -text
test_hartmannActor/data/sdR-r2-00169561.fit.gz -text
test_hartmannActor/data/sdR-r2-00169562.fit.gz -text
test_hartmannActor/data/sdR-r2-00169563.fit.gz -text
test_hartmannActor/hartmannTester.py -text
test_hartmannActor/profile_hartmann.py -text
test_hartmannActor/test_boss_collimate.py -text
test_hartmannActor/test_hartmannCmd.py -text
ups/hartmannActor.table -text
