* text=auto !eol
bin/docollimate -text
etc/sos.cfg -text
python/sosActor/Commands/__init__.py -text
python/sosActor/Commands/sosCmd.py -text
python/sosActor/__init__.py -text
python/sosActor/boss_collimate.py -text
python/sosActor/sosActor_main.py -text
/setup.py -text
test_sosActor/test_boss_collimate.py -text
ups/sosActor.table -text
