* text=auto !eol
etc/hartmann.cfg -text
python/hartmannActor/Commands/__init__.py -text
python/hartmannActor/Commands/hartmannCmd.py -text
python/hartmannActor/__init__.py -text
python/hartmannActor/boss_collimate.py -text
python/hartmannActor/hartmannActor_main.py -text
/setup.py -text
test_hartmannActor/profile_hartmann.py -text
test_hartmannActor/test_boss_collimate.py -text
ups/hartmannActor.table -text
